/*
 * Theme selection.
 */

.themeswitcher_select_form {}
.themeswitcher_select_form label {
    padding-right: 1em;
}
.themeswitcher_select_form select {}
.themeswitcher_select_form button {}

/*
 * Plugin administration.
 */

.themeswitcher_logo {
    float: left;
    margin: 0 8px 8px 0;
}
.themeswitcher_license {
    text-align: justify;
}
